# Ignorer les fichiers système
.DS_Store
Thumbs.db
desktop.ini

# Ignorer les fichiers/dossiers spécifiques aux applications
*.log
*.tmp
.vscode/
__pycache__/
*.pyc
*.pyo
*.db
.env
node_modules/

# Ignorer les fichiers spécifiques à votre environnement
*.exe
*.lnk
*.zip
*.tar.gz
*.ipynb_checkpoints/
*.bak
*.swp
*.lock

# Ignorer les dossiers personnels et système
Application Data/
Cookies/
Local Settings/
Menu Démarrer/
Mes documents/
Modèles/
Recent/
SendTo/
Voisinage d'impression/
Voisinage réseau/
AppData/
Desktop/
Documents/
Downloads/
Favorites/
Pictures/
Videos/
Music/
Saved Games/
Searches/
OneDrive/

# Autres fichiers que vous jugez inutiles
ntuser.*
